BLIBLI_BASE_URL=https://api.blibli.com
BLIBLI_API_ROUTER=/v2/seller
BLIBLI_SELLER_KEY=your_seller_key_here
BLIBLI_CLIENT_ID=your_mta_api_client_id
BLIBLI_CLIENT_SECRET=your_mta_api_client_secret
BLIBLI_STORE_ID=your_store_id

PORT=8080